.navigation-bar {
    position: sticky;
    position: -webkit-sticky; /* For Safari */
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 6rem;
    border-bottom: 1px solid #1a1a1a;
    background-color: rgba(40, 40, 40, 0.95);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    z-index: 9999;
  }
  